body,
html,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  --blackThree: #121212;
  --blue: #0290ff;
  --darkerWhite: #fafafa;
  --lightBlue: #4386bf;
  --lightGrey: #e8e8e8;
  --paleGrey: #f5f6fa;
  --white: #ffffff;
  --robotoSlab: 'Roboto Slab', serif;
  --montserrat: 'Montserrat', sans-serif; 
}

.button {
  background-color: var(--blue);
  border: 0;
  border-radius: 3px;
  width: 184px;
  height: 33px;
}

.appContainer {
  background: var(--paleGrey);
  display: flex;
  flex-direction:column;
  height: 1434px;
  align-items: center;
  padding-top: 150px;
  margin: 0 auto;
  width: 1600px; 
}

.app {
  background: var(--darkerWhite);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  height: 1097px;
  width: 1400px;
}

/*
  NAVBAR
*/

.navbar {
  background: var(--white);
  border: solid 1px var(--lightGrey);
  display: flex;
  height: 95px;
  margin: 0;
  padding: 0 100px 0 100px;
  width: 1400px;
}

.navbarLeft {
  align-items: center;
  color: var(--blackThree);
  display: flex;
  list-style: none;
}

.navbarRight {
  list-style: none;
}

.navbarTitle {
  color: var(--blue);
  font-size: 30px;
  font-family: var(--montserrat);
  font-weight: 700;
  margin-right: 41px;
}

.booksTab {
  width: 59px;
  height: 16px;
  font-family: var(--montserrat);
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  margin-right: 41px;
  color: var(--blackThree);
}

.categoriesTab {
  color: var(--blackThree);
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  height: 16px;
  line-height: normal;
  letter-spacing: 1.9px;
  opacity: 50%;
  width: 59px;
}

.accountIconCircle {
  border: 1px solid var(--lightGrey);
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.accountIcon {
  background: var(--blue);
  height: 20px;
  margin: auto;
  width: 20px;
}

/*
LESSON PANEL
*/

.lessonPanel {
  background-color: var(--white);
  border-radius: 4px;
  border: solid 1px var(--lightGrey);
  display: flex;
  height: 170px;
  padding: 32px 27px;
  margin: 15px auto;
  justify-content: space-between;
  width: 1200px;
}

.bookOptions {
  color: var(--blue);
  display: flex;
  font-family: var(--robotoSlab);
  font-size: 14px;
  font-weight: 300;
}

.comments {
  border-right: 1px solid var(--lightGrey);
  padding-right: 15px;
}

.removeBook {
  border-right: 1px solid var(--lightGrey);
  padding-left: 15px;
  padding-right: 15px;
}

.edit {
  padding-left: 15px;
}

.bookCompletion {
  display: flex;
}

.completionIcon {
  margin-right: 22px;
}

.statusPercentage {
  color: var(--blackThree);
  font-family: var(--montserrat);
  font-size: 32px;
  font-weight: 400;
}

.statusComplete {
  color: var(--blackThree);
  font-family: var(--montserrat);
  font-size: 14px;
  font-weight: 400;
  opacity: 50%;
}

.chapter {
  font-family: var(--robotoSlab);
  font-weight: 300;
}

.currentChapterLabel {
  color: var(--blackThree);
  font-size: 13px;
  opacity: 50%;
}

.currentChapter {
  color: var(--blackThree);
  font-size: 16px;
}

.submitBookButton {
  color: var(--white);
  font-family: var(--robotoSlab);
  font-size: 13px;
  font-weight: 300;
}

.bookCategory {
  color: var(--blackThree);
  font-family: var(--montserrat);
  font-size: 14px;
  font-weight: bold;
  opacity: 50%;
}

.bookTitle {
  color: var(--blackThree);
  font-family: var(--robotoSlab);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -.02;
}

/*
BOOKS FORM
*/

.addBookInputs {
  display: flex;
  justify-content: space-between;
}
